# Ambiente virtual
venv/
env/

# dotenv
.env

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações de IDE
.idea/
.vscode/

# Arquivos de log
*.log

# Configurações do sistema operacional
.DS_Store
Thumbs.db
